<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <title>BudZilla</title>
    </head>
    <body>
        <div class="grid-container">
            <header class="row">
                <div>
                    <a href="index.html" class="brand">BudZilla</a>
                </div>
                <div>
                    <a href="cart.html">Cart</a>
                    <a href="signin.html">Signin</a>
                </div>
            </header>
            <main>
                <div class="row center">
                    <div class="card">
                        <a href="product.html">
                            <!-- size 680px by 830px -->
                            <img class="medium" src="./images/product-1.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Bud bud bud</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price"> 10e/g </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- size 680px by 830px -->
                            <img class="medium" src="./images/product-1.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Bud bud bud</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price"> 10e/g </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- size 680px by 830px -->
                            <img class="medium" src="./images/product-1.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Bud bud bud</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price"> 10e/g </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- size 680px by 830px -->
                            <img class="medium" src="./images/product-1.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Bud bud bud</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price"> 10e/g </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- size 680px by 830px -->
                            <img class="medium" src="./images/product-1.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Bud bud bud</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                            </div>
                            <div class="price"> 10e/g </div>
                        </div>
                    </div>
                    <div class="card">
                        <a href="product.html">
                            <!-- size 680px by 830px -->
                            <img class="medium" src="./images/product-1.jpg" alt="">
                        </a>
                        <div class="card-body">
                            <a href="product.html">
                                <h2>Bud bud bud</h2>
                            </a>
                            <div class="rating">
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star"></i></span>
                                <span><i class="fa fa-star-o"></i></span>
                            </div>
                            <div class="price"> 10e/g </div>
                        </div>
                    </div>
                </div>
            </main>
            <footer class="row center">
                All Right Reserved
            </footer>
        </div>
    </body>
    <script src="https://kit.fontawesome.com/a3082cf97a.js" crossorigin="anonymous"></script>
</html>